.table-ui {
  &__title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 26px;
    border-bottom: 1px solid $clr_border;
  }

  &__header {
    margin: 16px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__sorting {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      margin-left: 16px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody {
      tr {
        cursor: pointer;
        &:nth-child(even) {
          background-color: #F8F9FA;
        }

        .button--del {
          visibility: hidden;
        }

        &:hover {
          background-color: #edf8ef;

          .button--del {
            visibility: visible;
          }
        }
      }
    }

    th {
      text-align: start;
      font-weight: 600;
      border-bottom: 1px solid #EDEDED;

      &:nth-child(2) {
        color: $clr_accent;

        div {
          display: flex;
        }

        img {
          width: 24px;
          height: 24px;

          &.rotate180 {
            transform: rotate(180deg);
          }
        }
      }
    }

    th,
    td{
      padding: 12px 0;

      &:first-child {
        text-align: center;
        padding-left: 15px;
        padding-top: 0;
        padding-right: 10px;
      }
    }
  }

  .multiselect {
    width: auto;
    min-height: auto;
    height: 34px;

    &__single {
      font-size: 14px;
    }

    &__option--highlight {
      background-color: $clr_accent;
    }

    &__select {
      height: 34px;
      width: 30px;

      &:before{
        background: url("~@/assets/img/galka.svg");
        width: 24px;
        height: 24px;
        display: block;
        top: 0;
        right: 5px;
        margin-top: 0;
        border: none;
      }
    }

    &__tags {
      min-height: auto;
      height: 34px;
      border-radius: 2px;
      border: 1px solid $clr_border;
      padding: 5px 26px 0 8px;
    }
  }
}

.product-props {
  display: flex;
  margin-left: 8px;
}

.product-prop {
  outline: none;
  padding:0 8px;
  height: 32px;
  border-radius: 2px;
  border: none;
  display: block;
  color: $clr_text;
  background-color: transparent;
  cursor: pointer;

  &.active {
    background-color: $clr_accent;
    color: white;
  }
}

.sort {
  cursor: pointer;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}



.hide {
  display: none;
}